.gradeU .stt {
    text-align: center;
    min-width: 55px;
}

.gradeU .fullname {
    font-weight: bold;
    text-align: center;
    min-width: 130px;
}

.gradeU .email {
    font-weight: bold;
    text-align: center;
    min-width: 110px;
}

.gradeU .total {
    font-weight: bold;
    text-align: center;
    min-width: 90px;
}

.gradeU .date {
    font-weight: bold;
    text-align: center;
    min-width: 90px;
}

.gradeU .status {
    font-weight: bold;
    text-align: center;
    min-width: 170px;
}

.gradeU .function {
    font-weight: bold;
    text-align: center;
    min-width: 70px;
}
